/* --------------------------NAV BAR----------------------------------- */
ul {
    background-color: rgb(61, 57, 57);
    color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: flex-start;
    padding: 0px 12px;
    list-style: none;
    margin-bottom: 0px;

}

.First {
    font-size: 20px;
    font-weight: bold;
}

li {
    padding: 5px 20px;
}

li:nth-child(2n) {
    background-color: lightgray;
    color: grey;
    margin: 0px;
    border: 0.2px solid grey;
}


/* --------------------------BODY----------------------------------- */

body {
    color: gray;
}

.carousel {
    background-color: lightgray;
    min-height: 200px;
}


/* --------------------------FORMULAIRE----------------------------------- */
#articles {
    text-align: center;
    margin-top: 50px;
}

.content {
padding:  25px ;
margin-bottom: 50px;
display: flex;
justify-content: center;
}

article {
    background-color: lightgray;
    margin: 15px;
    padding: 200px;
    min-height: 100px;
}

/* --------------------------FORMULAIRE----------------------------------- */
form {
    text-align: left;
    padding-right: 20px;
    margin: 0.5px auto;
    border-top: 2px solid grey;
}

input,
textarea {
    border: 2px solid grey;
    display: block;
    margin: 8px auto ;
    padding-right: 400px;
}

